/* Variables of related articles component */
$subheadingFontSize: 16px;
$subheadingLineHeight: 22px;
$descLineHeight: 24px;
$relatedColors: (
    headingColor: $brand-primary-color,
    subheadingColor: $brand-secondary-color,
);