.c-ordered-list,
.c-ordered-list-list {
    @include container();

    list-style-type: none;
    margin-bottom: 40px;

    svg {
        display: block;
    }
    
    &__item {
        margin-bottom: 25px;

        img {
            margin: 0 auto;
            display: block;
        }
    }
    &_number span {
        display: none;
    }
    &__heading,
    &__heading-2 {
        @include fontSize(h3-mob);
        margin-bottom: 10px;
    }
}

@import '_ordered-list-tablet';
@import '_ordered-list-desktop';