@mixin visually-hidden {
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    position: absolute;
}

// .u-hide-visually {
//     @include visually-hidden();
// }

.u-hide {
    visibility: hidden !important;
}

.u-blur-background {
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

select::-ms-expand { // for IE 11
    display: none;
}
.ie9 {
    .container,
    .c-product-info .container,
    .c-thumb-carousel__nav,
    .container-fluid.form {
        z-index: 2;
    }
    .container.c-product-overview {
        z-index: inherit;
    }
}
