@import '_rich-text-v2-variables';

.c-rich-text-v2 {
    padding-top: 40px;

    svg {
        display: block;
    }

    .container {
        .form &{
            padding: 0;
        }
    }

    &__description {
        h1,
        h2 {
            margin-bottom: 22px;
        }

        h3 {
            @include fontSize(h3-mob);

            color: $brand-primary-color;
            .form &{
                margin-bottom: 25px;
            }
        }

        p {
            @include fontSize(sh1-mob);

            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 40px;

                .form &{
                    margin-bottom: 0;
                }
            }
        }
        p.smallText {
            @include fontSize(sh5-mob);
        }
        a {
            color: $brand-secondary-color;
            text-decoration: underline;
            &:hover {
                color: $brand-primary-color;
            }
        }
    }

    &.article-page {
        padding-top: 0;
    }

    &.error-msg {
        .c-rich-text-v2 {
            &__description {
                text-align: center;
            }
        }

        h1 {
            margin-bottom: 15px;
        }
    }
    &.thank-you {
        .c-rich-text-v2 {
            &__description {
                margin-bottom: 75px;
            }
        }
    }
}
@import '_rich-text-v2-tablet';
@import '_rich-text-v2-desktop';
