@media (min-width: $screen-sm) {
    .c-product-copy-v2 {

        &-product-name {
            &__text {
                text-align: left;
                margin-bottom: 14px;
            }
        }
    
        &.product-acc-content {
            .c-product-copy-v2 {
                &__wrapper {
                    margin-bottom: 17px;
                }
            }
        }
    }
}