@media(min-width: $screen-sm) {
	.c-reviews {
		.rr-product-reviews {
			.averageRingBlock {
				text-align: left;
				padding: 44px 0 30px;
			}
			.write-review-btn {
				position: absolute;
                right: 0;
                top: 45px;
			}
			.review-block {
                padding: 30px 0px 45px;
			}
		}
	}
}